@using Glass.Mapper.Sc.Web.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<RulesDemo.Models.BannerModel>

@if (IsInEditingMode)
{
    <div>
        <p> Banner Image </p>
        @Editable(Model, x => x.BackgroundImage)
    </div>
    <div>
        <p>Banner Message</p>
        @Editable(Model, x=>x.BannerTagline)
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1" style="height: 480px; background: url(@Model.BackgroundImage.Src) no-repeat center; width: 100%; background-size: 100%">
            <div style="position: relative; top: 75%; text-align: center; color: #fff;">
                <h1 style="text-shadow: 6px 6px gray; font-size:60px; font-weight: bold">@Model.BannerTagline</h1>
            </div>
        </div>    
    </div>
    
}

