@model RulesDemo.Models.GeolocationModel
@{
    var image = string.Empty;
    var text = string.Empty;
    var render = true;
}
@if (Model.Geolocation.State == "VA")
{
    image = "/~/media/rulesdemo/Banners/635865304485781448-1723632830_Trump";
    text = "Welcome to Virginia!";
}
else if (Model.Geolocation.State == "NY")
{
    image = "/~/media/rulesdemo/angry-cabbie.ashx";
    text = "Fuhgit About It!";
}
else if (Model.Geolocation.State == "NC")
{
    image = "/~/media/rulesdemo/charlotte-speedway.ashx";
    text = "Welcome to Nawth Kackalacka!";
}
else
{
    render = false;
}

@if (render)
{
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1" style="height: 480px; background: url(@image) no-repeat center; width: 100%; background-size: 100%">
            <div style="position: relative; top: 75%; text-align: center; color: #fff;">
                <h1 style="text-shadow: 6px 6px gray; font-size:60px; font-weight: bold">@text</h1>
            </div>
        </div>
    </div>
}