<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.customizeRendering>      
        <processor type="Sitecore.Mvc.Analytics.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Mvc.Analytics">
		   <patch:attribute name="type">RulesDemo.Pipelines.Personalize, RulesDemo</patch:attribute>
		</processor>
      </mvc.customizeRendering>
    </pipelines>
  </sitecore>
</configuration>
