<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Integrated Security=SSPI;Data Source=(local);Database=SitecoreRulesDemo_Core" />
  <add name="master" connectionString="Integrated Security=SSPI;Data Source=(local);Database=SitecoreRulesDemo_Master" />
  <add name="web" connectionString="Integrated Security=SSPI;Data Source=(local);Database=SitecoreRulesDemo_Web" />
  <add name="analytics" connectionString="mongodb://localhost/analyticsRulesDemo" />
  <add name="tracking.live" connectionString="mongodb://localhost/tracking_liveRulesDemo" />
  <add name="tracking.history" connectionString="mongodb://localhost/tracking_historyRulesDemo" />
  <add name="tracking.contact" connectionString="mongodb://localhost/tracking_contactRulesDemo" />
  <add name="reporting" connectionString="Integrated Security=SSPI;Data Source=(local);Database=SitecoreRulesDemo_Analytics" />
</connectionStrings>